env {
    PYTHONPATH = "$baseDir/templates"
}

process {
    cpus = 1
    memory = "1GB"

    errorStrategy = "retry"
    maxRetries = 7
}

executor {
  $local {
      cpus = 4
  }
}

trace {
    enabled = true
    file = "pipeline_stats.txt"
    fields = "task_id,\
              hash,\
              process,\
              tag,\
              status,\
              exit,\
              start,\
              container,\
              cpus,\
              duration,\
              realtime,\
              queue,\
              %cpu,\
              %mem,\
              rss,\
              vmem"
}

//                             PROFILE OPTIONS                               //
///////////////////////////////////////////////////////////////////////////////

profiles {

    // DEFAULT profile for local execution (for desktop/laptops or servers
    // without distributed computing environments)
    standard {
        docker.enabled = true
    }

    // SINGULARITY PROFILE
    // Specify this profile to use singularity engine instead of docker
    sing {
        singularity.enabled = true
    }

    oneida {

        process.executor = "slurm"
        docker.enabled = true

        process{

            // MEMORY USAGE PER PROCESS //
            // general memory usage
            memory = "4GB"

            // CPU USAGE PER PROCESS //
            $fastqc.cpus = 2
            $trimmomatic.cpus = 4
            $spades.cpus = 4
            $assembly_mapping.cpus = 6
            $pilon.cpus = 8
            $prokka.cpus = 4
            $chewbbaca.cpus = 6

        }

    }

    // INCD PROFILE
    incd {

        process.executor = "slurm"
        singularity.enabled = true

        singularity {
            cacheDir = "/mnt/singularity_cache"
            autoMounts = true
        }

        // Error and retry strategies
        process.errorStrategy = "retry"
        maxRetries = 3

        process.$chewbbaca.queue = "chewBBACA"

        // Replace container destination for singularity images
        process.$seq_typing.container = 'docker://odiogosilva/seq_typing:latest'
        process.$patho_typing.container = 'docker://odiogosilva/patho_typing:latest'
        process.$fastqc.container = 'docker://odiogosilva/fastqc:0.11.5'
        process.$fastqc2.container = 'docker://odiogosilva/fastqc:0.11.5'
        process.$trimmomatic.container = 'docker://odiogosilva/trimmomatic'
        process.$spades.container = 'docker://odiogosilva/spades:3.11.0'
        process.$assembly_mapping.container = 'docker://odiogosilva/bowtie2_samtools'
        process.$assembly_mapping_coverage.container = 'docker://odiogosilva/bowtie2_samtools'
        process.$process_assembly_mapping.container = 'docker://odiogosilva/bowtie2_samtools'
        process.$pilon.container = 'docker://odiogosilva/pilon:1.22'
        process.$pilon_report.container = 'docker://odiogosilva/pilon:1.22'
        process.$mlst.container = 'docker://odiogosilva/mlst'
        process.$abricate.container = 'docker://ummidock/abricate:latest'
        process.$process_abricate.container = 'docker://ummidock/abricate:latest'
        process.$prokka.container = 'docker://ummidock/prokka:1.12'
        process.$chewbbaca.container = 'docker://ummidock/chewbbaca:py3'

        process {

            // Use scratch for these processes
            $spades.scratch = true
            $skesa.scratch = true

            // CPU USAGE PER PROCESS //
            $seq_typing.cpus = 4
            $patho_typing.cpus = 4
            $fastqc.cpus = 2
            $trimmomatic.cpus = 4
            $spades.cpus = 4
            $skesa.cpus = 4
            $assembly_mapping.cpus = 6
            $pilon.cpus = 6
            $prokka.cpus = 4
            $chewbbaca.cpus = 10

            // MEMORY USAGE PER PROCESS //
            // general memory usage
            memory = "4GB"

            // Process specific memory usage
            $spades.memory = "7GB"
            $trimmomatic.memory = "7GB"
            $pilon.memory = "7GB"

        }

    }

    // SLURM PROFILE
    slurm {

        // Change executor for SLURM
        process.executor = "slurm"
        // Change container engine for Shifter
        shifter.enabled = true

        process {

            clusterOptions = "--qos=oneida"

            errorStrategy = "retry"
            maxRetries = 5

            // MEMORY USAGE PER PROCESS //
            // general memory usage
            memory = "4GB"

        }

    }

    // SLURM PROFILE
    slurmOneida {

        // Change executor for SLURM
        process.executor = "slurm"
        // Change container engine for Shifter
        shifter.enabled = true

        process {

            clusterOptions = "--qos=oneida"

            // Use scratch for these processes
            $spades.scratch = true

            // CPU USAGE PER PROCESS //
            $fastqc.cpus = 2
            $trimmomatic.cpus = 4
            $spades.cpus = 4
            $assembly_mapping.cpus = 6
            $pilon.cpus = 8
            $prokka.cpus = 4
            $chewbbaca.cpus = 40

            // MEMORY USAGE PER PROCESS //
            // general memory usage
            memory = "4GB"

            // Process specific memory usage
            $spades.memory = "10GB"
            $trimmomatic.memory = "10GB"
            $pilon.memory = "8GB"

            // Set QOS for chewbbaca in order to run a single job
            $chewbbaca.clusterOptions = "--qos=chewbbaca"
        }
    }
}

includeConfig "resources.config"
includeConfig "containers.config"
includeConfig "params.config"
includeConfig "user.config"
